In [17]:
from sklearn.datasets import fetch_openml
import pandas as pd

In [18]:
data = fetch_openml('caesarian-section')

In [19]:
data.frame

   Age Delivery number Delivery time Blood of Pressure Heart Problem Caesarian
0   22               1             0                 2             0         0
1   26               2             0                 1             0         1
2   26               2             1                 1             0         0
3   28               1             0                 2             0         0
4   22               2             0                 1             0         1
..  ..             ...           ...               ...           ...       ...
75  27               2             1                 1             0         0
76  33               4             0                 1             0         1
77  29               2             1                 2             0         1
78  25               1             2                 0             0         1
79  24               2             2                 1             0         0

[80 rows x 6 columns]

In [20]:
df = data.frame

In [21]:
df = df.rename(columns={ 
        'Delivery number': "Delivery_Number", 
        "Delivery time":'Delivery_Time',  
        "Blood of Pressure": "Blood_Of_Pressure", 
        "Heart Problem" : "Heart_Problem"

                  })

In [22]:
df.head()

  Age Delivery_Number Delivery_Time Blood_Of_Pressure Heart_Problem Caesarian
0  22               1             0                 2             0         0
1  26               2             0                 1             0         1
2  26               2             1                 1             0         0
3  28               1             0                 2             0         0
4  22               2             0                 1             0         1

In [23]:
df.isnull().sum()

Age                  0
Delivery_Number      0
Delivery_Time        0
Blood_Of_Pressure    0
Heart_Problem        0
Caesarian            0
dtype: int64

In [24]:
df.to_csv("../data/caesarian_section.csv",index=False)

In [25]:
import os 
os.getcwd()

'/Users/Aurelien/Documents/projet/Python/AI/Sklearn/Project/caesarian-section/caesarianapp/notebooks'